.top.container {
  height: 90vh;
  /* background-color: #efefef; */
}
.top.container h2 {
  font-size: 50px;
  font-weight: bold;
}
.top.container p {
  font-size: 20px;
  font-weight: 500;
}

ul.customize {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.customize a {
  text-decoration: none;
  color: #000;
}
.carousel-control-next,
.carousel-control-next-icon,
.carousel-control-prev,
.carousel-control-prev-icon,
.visually-hidden {
  color: black !important;
}
.d-flex::-webkit-scrollbar {
  /* height: 5px;
  background-color: red;
  border-radius: 2px; */
  display: none;
}
/* .d-flex::-webkit-scrollbar-thumb {
  background-color: white;
} */

@media screen and (max-width: 768px) {
  .top.container h2 {
    font-size: 30px;
  }
  .second-card-section p {
    font-size: 12px;
  }
  .d-flex .card {
    width: 200px !important;
  }
}
